<div class="layout">

  <header>
    <img (click)="goHome()" id="logo" src="assets/images/pokemon-logo.png" alt="logo-pokemon">

    <form class="search-module" (ngSubmit)="onSubmit()">
      <p-autoComplete name="pokemon" placeholder="Entrez le nom d'un pokémon..." [(ngModel)]="pokemonToSearch" [inputStyleClass]="'search'" [panelStyleClass]="'search-panel'" emptyMessage="Pas de résultats" [showEmptyMessage]="true" [suggestions]="filteredPokemons" (completeMethod)="filterPokemon($event)" [minLength]="1"></p-autoComplete>
      <button class="search-button">Chercher</button>
    </form>
  </header>

  <div class="content">
    <router-outlet></router-outlet>
  </div>

</div>